# <span style="color:rgb(255, 0, 255)">VOL 2.</span>

# <span style="color:rgb(255, 0, 255)">This document contains the different tries we made regarding feature engineering and log transforming</span>

Here we only have the code related to machine learning model tries. If you want to review all the steps we took please review the final notebook.

### <span style="color:rgb(255, 0, 255)">--- Import the necessary libraries</span>

In [1]:
import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import matplotlib.ticker as mk
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

import os #we will use the function listdir to list files in a folder
import math #to apply absolute value

### <span style="color:rgb(255, 0, 255)">--- Function we use for modeling results</span>

In [2]:
def modeling(y, X, models=[], test_size=0.25):
    for model in models:
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)
        model.fit(X_train, y_train )
        predictions = model.predict(X_test)
        r2 = r2_score(y_test, predictions)
        # r2_adj = 1 - (1-r2)*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
        r2_adj =  1 - (1-model.score(X, y))*(len(y)-1)/(len(y)-X.shape[1]-1)
        RMSE = mean_squared_error(y_test, predictions, squared=False)
        MSE = mean_squared_error(y_test, predictions)
        MAE = mean_absolute_error(y_test, predictions)
        print(model, 'metrics are: '), print("R2 =", r2), print("R2 adjusted =", r2_adj), print("RMSE =", round(RMSE,2)), print("MSE =", round(MSE,2)), print("MAE =", round(MAE,2))
    return predictions, y_test, r2

### <span style="color:rgb(255, 0, 255)">--- Load the database</span>

In [3]:
df = pd.read_csv('df6_outliers_best.csv')
df.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,day_bought,month_bought,year_bought
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900,13,10,2014
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000,9,12,2014
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000,25,2,2015
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000,9,12,2014
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000,18,2,2015

# 🆙 With a lot of feature engineering

#### It slightly improved the model

In [4]:
df["yr_diff_renovated"] = df["yr_renovated"] - df["yr_built"]
df["yr_diff_bought"] = df["year_bought"] - df["yr_built"]

In [5]:
df["sqrt_diff"] = df["sqft_lot"] - df["sqft_living"]
df["sqrt_diff_15"] = df["sqft_lot15"] - df["sqft_living15"]

In [6]:
df["yr_diff_renovated"]= df["yr_diff_renovated"].apply(lambda x: x if x>0 else 0)
df["yr_renovated_binary"] = df["yr_diff_renovated"].apply(lambda x: 1 if x>0 else 0)
df["basement_binary"] = df["sqft_basement"].apply(lambda x: 1 if x>0 else 0)

In [7]:
#encoding zipcode
def zip_to_binary(zipcode):
    if str(zipcode).startswith('980'):
        return 0
    elif str(zipcode).startswith('981'):
        return 1
    else:
        return None

df['zip_binary'] = df['zipcode'].apply(zip_to_binary)

df.to_csv('df_fea_eng.csv', index=False) # this is the point where we will start the following tries

In [8]:
X_num = df.drop( columns = ["price"], axis = 1)
transformer = MinMaxScaler().fit(X_num)
X_num_minmax = transformer.transform(X_num)
X_num_norm = pd.DataFrame(X_num_minmax,columns=X_num.columns)
X_num_normalized = X_num_norm.copy()
X_num_normalized.shape

(18623, 28)

In [9]:
X = X_num_normalized.copy()
Y = df["price"]
#Separation between train and test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42) 
#Train model
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [10]:
predictions, y_test, r2 = modeling(Y, X, models=[LinearRegression(), KNeighborsRegressor(n_neighbors=9), DecisionTreeRegressor(max_depth=10),RandomForestRegressor(n_estimators=100, max_depth=10)], test_size=0.24)

LinearRegression() metrics are:
R2 = 0.7233795715766621
R2 adjusted = 0.7190654375067649
RMSE = 155704.04
MSE = 24243748060.76
MAE = 105401.21
KNeighborsRegressor(n_neighbors=9) metrics are:
R2 = 0.7269789241684084
R2 adjusted = 0.7583170688640712
RMSE = 154687.72
MSE = 23928291252.63
MAE = 92648.44
DecisionTreeRegressor(max_depth=10) metrics are:
R2 = 0.8122993682166718
R2 adjusted = 0.8929474441947544
RMSE = 128259.82
MSE = 16450581230.53
MAE = 76736.98
RandomForestRegressor(max_depth=10) metrics are:
R2 = 0.8717606650253712
R2 adjusted = 0.9174262993160112
RMSE = 106015.26
MSE = 11239235461.84
MAE = 64892.12

# 🆙 With log transformation

#### Applying log transformation in the columns that were more skewed slightly improved the model

In [11]:
df1 = pd.read_csv('df_fea_eng.csv')
df1.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,day_bought,month_bought,year_bought,yr_diff_renovated,yr_diff_bought,sqrt_diff,sqrt_diff_15,yr_renovated_binary,basement_binary,zip_binary
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900,13,10,2014,0,59,4470,4310,0,0,1
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000,9,12,2014,40,63,4672,5949,1,1,1
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000,25,2,2015,0,82,9230,5342,0,0,0
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000,9,12,2014,0,49,3040,3640,0,1,1
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000,18,2,2015,0,28,6400,5703,0,0,0

In [12]:
# sqft_living, sqft_above, sqft_living15
df1["sqft_living_log"] = np.log((df1.sqft_living))
df1["sqft_above_log"] = np.log((df1.sqft_above))
df1["sqft_living15_log"] = np.log((df1.sqft_living15))

In [13]:
df1.to_csv('df1_fea_eng_log.csv', index=False) # this is the point where we will start the following tries

In [14]:
X_num = df1.drop( columns = ["price"], axis = 1)
transformer = MinMaxScaler().fit(X_num)
X_num_minmax = transformer.transform(X_num)
X_num_norm = pd.DataFrame(X_num_minmax,columns=X_num.columns)
X_num_normalized = X_num_norm.copy()
X_num_normalized.shape

(18623, 31)

In [15]:
X = X_num_normalized.copy()
Y = df1["price"]
#Separation between train and test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42) 
#Train model
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [16]:
predictions, y_test, r2 = modeling(Y, X, models=[LinearRegression(), KNeighborsRegressor(n_neighbors=9), DecisionTreeRegressor(max_depth=10),RandomForestRegressor(n_estimators=100, max_depth=10)], test_size=0.24)

LinearRegression() metrics are:
R2 = 0.734757543931849
R2 adjusted = 0.7374227741378636
RMSE = 152468.2
MSE = 23246552384.39
MAE = 103301.55
KNeighborsRegressor(n_neighbors=9) metrics are:
R2 = 0.7414432431478215
R2 adjusted = 0.7744587734763055
RMSE = 150534.38
MSE = 22660599971.81
MAE = 89829.45
DecisionTreeRegressor(max_depth=10) metrics are:
R2 = 0.8160404597604574
R2 adjusted = 0.8937661929342473
RMSE = 126975.2
MSE = 16122702044.68
MAE = 76598.69
RandomForestRegressor(max_depth=10) metrics are:
R2 = 0.8707967275418593
R2 adjusted = 0.9176000850909983
RMSE = 106412.96
MSE = 11323717499.66
MAE = 64792.99

# 🆙Treating numericals binary as categoricals and one hot encoding them

#### As for now we have treated some features that are binomial as numericals discrete. What if we treat them as categoricals and do a one-hot encoding?

#### Answer: it slightly improves the code

In [17]:
df2 = pd.read_csv('df1_fea_eng_log.csv')
df2.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,day_bought,month_bought,year_bought,yr_diff_renovated,yr_diff_bought,sqrt_diff,sqrt_diff_15,yr_renovated_binary,basement_binary,zip_binary,sqft_living_log,sqft_above_log,sqft_living15_log
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900,13,10,2014,0,59,4470,4310,0,0,1,7.073270,7.073270,7.200425
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000,9,12,2014,40,63,4672,5949,1,1,1,7.851661,7.682482,7.432484
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000,25,2,2015,0,82,9230,5342,0,0,0,6.646391,6.646391,7.908387
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000,9,12,2014,0,49,3040,3640,0,1,1,7.580700,6.956545,7.215240
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000,18,2,2015,0,28,6400,5703,0,0,0,7.426549,7.426549,7.495542

In [18]:
# select the columns we want to encode
df2_binary = df2[["waterfront", "year_bought", "yr_renovated_binary", "basement_binary", "zip_binary"]]
df2_binary.head()

   waterfront  year_bought  yr_renovated_binary  basement_binary  zip_binary
0           0         2014                    0                0           1
1           0         2014                    1                1           1
2           0         2015                    0                0           0
3           0         2014                    0                1           1
4           0         2015                    0                0           0

In [19]:
waterfront_enc = df2['waterfront']
waterfront_enc_dumm = pd.get_dummies(waterfront_enc, drop_first=False)
waterfront_enc_dumm

       0  1
0      1  0
1      1  0
2      1  0
3      1  0
4      1  0
...   .. ..
18618  1  0
18619  1  0
18620  1  0
18621  1  0
18622  1  0

[18623 rows x 2 columns]

In [20]:
year_bought_enc = df2['year_bought']
year_bought_enc_dumm = pd.get_dummies(year_bought_enc, drop_first=False)
year_bought_enc_dumm

       2014  2015
0         1     0
1         1     0
2         0     1
3         1     0
4         0     1
...     ...   ...
18618     1     0
18619     0     1
18620     1     0
18621     0     1
18622     1     0

[18623 rows x 2 columns]

In [21]:
yr_renovated_binary_enc = df2['yr_renovated_binary']
yr_renovated_binary_enc_dumm = pd.get_dummies(yr_renovated_binary_enc, drop_first=False)
yr_renovated_binary_enc_dumm

       0  1
0      1  0
1      0  1
2      1  0
3      1  0
4      1  0
...   .. ..
18618  1  0
18619  1  0
18620  1  0
18621  1  0
18622  1  0

[18623 rows x 2 columns]

In [22]:
basement_binary_enc = df2['basement_binary']
basement_binary_enc_dumm = pd.get_dummies(basement_binary_enc, drop_first=False)
basement_binary_enc_dumm

       0  1
0      1  0
1      0  1
2      1  0
3      0  1
4      1  0
...   .. ..
18618  1  0
18619  1  0
18620  1  0
18621  1  0
18622  1  0

[18623 rows x 2 columns]

In [23]:
zip_binary_enc = df2['zip_binary']
zip_binary_enc_dumm = pd.get_dummies(zip_binary_enc, drop_first=False)
zip_binary_enc_dumm

       0  1
0      0  1
1      0  1
2      1  0
3      0  1
4      1  0
...   .. ..
18618  0  1
18619  0  1
18620  0  1
18621  1  0
18622  0  1

[18623 rows x 2 columns]

In [24]:
df2_binary_encoded = pd.concat([waterfront_enc_dumm, year_bought_enc_dumm, yr_renovated_binary_enc_dumm, basement_binary_enc_dumm, zip_binary_enc_dumm], axis=1)
df2_binary_encoded.head()

   0     1     2014  2015  0     1     0     1     0     1
0     1     0     1     0     1     0     1     0     0     1
1     1     0     1     0     0     1     0     1     0     1
2     1     0     0     1     1     0     1     0     1     0
3     1     0     1     0     1     0     0     1     0     1
4     1     0     0     1     1     0     1     0     1     0

In [25]:
# Concat the one-hot encoded columns with the original dataframe
df2 = pd.concat([df2, df2_binary_encoded], axis=1)

In [26]:
#Drop the original categorical columns
df2 = df2.drop(df2_binary, axis=1)
df2.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,day_bought,month_bought,yr_diff_renovated,yr_diff_bought,sqrt_diff,sqrt_diff_15,sqft_living_log,sqft_above_log,sqft_living15_log,0,1,2014,2015,0,1,0,1,0,1
0,3,1.00,1180,5650,1.0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900,13,10,0,59,4470,4310,7.073270,7.073270,7.200425,1,0,1,0,1,0,1,0,0,1
1,3,2.25,2570,7242,2.0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000,9,12,40,63,4672,5949,7.851661,7.682482,7.432484,1,0,1,0,0,1,0,1,0,1
2,2,1.00,770,10000,1.0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000,25,2,0,82,9230,5342,6.646391,6.646391,7.908387,1,0,0,1,1,0,1,0,1,0
3,4,3.00,1960,5000,1.0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000,9,12,0,49,3040,3640,7.580700,6.956545,7.215240,1,0,1,0,1,0,0,1,0,1
4,3,2.00,1680,8080,1.0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000,18,2,0,28,6400,5703,7.426549,7.426549,7.495542,1,0,0,1,1,0,1,0,1,0

df2.to_csv('df2_fea_eng_log_enc.csv', index=False) # this is the point where we will start the following tries

In [27]:
X_num = df2.drop( columns = ["price"], axis = 1)
transformer = MinMaxScaler().fit(X_num)
X_num_minmax = transformer.transform(X_num)
X_num_norm = pd.DataFrame(X_num_minmax,columns=X_num.columns)
X_num_normalized = X_num_norm.copy()
X_num_normalized.shape

(18623, 36)

In [28]:
X = X_num_normalized.copy()
Y = df2["price"]
#Separation between train and test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42) 
#Train model
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [29]:
predictions, y_test, r2 = modeling(Y, X, models=[LinearRegression(), KNeighborsRegressor(n_neighbors=9), DecisionTreeRegressor(max_depth=10),RandomForestRegressor(n_estimators=100, max_depth=10)], test_size=0.24)

LinearRegression() metrics are:
R2 = 0.7352034238037304
R2 adjusted = 0.7374580725777847
RMSE = 152340.0
MSE = 23207474289.75
MAE = 103113.21
KNeighborsRegressor(n_neighbors=9) metrics are:
R2 = 0.7401444972439519
R2 adjusted = 0.7718073735003297
RMSE = 150911.98
MSE = 22774425507.65
MAE = 89975.35
DecisionTreeRegressor(max_depth=10) metrics are:
R2 = 0.8137236883783419
R2 adjusted = 0.8932197445835817
RMSE = 127772.26
MSE = 16325750033.66
MAE = 77071.41
RandomForestRegressor(max_depth=10) metrics are:
R2 = 0.8742026013417905
R2 adjusted = 0.9184751648072851
RMSE = 105001.04
MSE = 11025217686.03
MAE = 64734.31

# 🟧Bucketing some numerical discrete features

#### Now let's try to reduce some discrete numerical features that look a little bit odd and see how this impacts in the model
#### ANSWER: It was worse

In [30]:
df3 = pd.read_csv('df2_fea_eng_log_enc.csv')
df3.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,day_bought,month_bought,yr_diff_renovated,yr_diff_bought,sqrt_diff,sqrt_diff_15,sqft_living_log,sqft_above_log,sqft_living15_log,0,1,2014,2015,0.1,1.1,0.2,1.2,0.3,1.3
0,3,1.00,1180,5650,1.0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900,13,10,0,59,4470,4310,7.073270,7.073270,7.200425,1,0,1,0,1,0,1,0,0,1
1,3,2.25,2570,7242,2.0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000,9,12,40,63,4672,5949,7.851661,7.682482,7.432484,1,0,1,0,0,1,0,1,0,1
2,2,1.00,770,10000,1.0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000,25,2,0,82,9230,5342,6.646391,6.646391,7.908387,1,0,0,1,1,0,1,0,1,0
3,4,3.00,1960,5000,1.0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000,9,12,0,49,3040,3640,7.580700,6.956545,7.215240,1,0,1,0,1,0,0,1,0,1
4,3,2.00,1680,8080,1.0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000,18,2,0,28,6400,5703,7.426549,7.426549,7.495542,1,0,0,1,1,0,1,0,1,0

In [31]:
#Inspired by Luis's Code
#Check unique values for each value
for column in df3.columns:
    print('─' * 10)
    print("This feature ", '\033[1m' + column + '\033[0m' ," has ", df[column].nunique(), " categories \n The single values are: ", df[column].unique(),"\n" )
    print("Here the detail: \n" , df[column].value_counts())
    print("\n\n")

──────────
This feature  bedrooms  has  12  categories
 The single values are:  [ 3  2  4  5  1  6  7  8  9 11 10 33]

Here the detail:
 3     8591
4     5757
2     2535
5     1301
6      221
1      167
7       28
8       12
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64



──────────
This feature  bathrooms  has  26  categories
 The single values are:  [1.   2.25 3.   2.   1.5  2.5  1.75 2.75 3.25 3.5  0.75 4.25 3.75 4.
 1.25 4.5  5.   0.5  5.25 4.75 6.   6.75 7.5  5.5  5.75 6.5 ]

Here the detail:
 2.50    4586
1.00    3549
1.75    2653
2.25    1748
2.00    1716
1.50    1321
2.75     982
3.00     624
3.50     576
3.25     448
3.75     114
4.00      90
4.50      69
4.25      50
0.75      47
4.75      15
1.25       9
5.00       8
5.25       6
0.50       4
5.50       3
6.00       1
6.75       1
7.50       1
5.75       1
6.50       1
Name: bathrooms, dtype: int64



──────────
This feature  sqft_living  has  880  categories
 The single values are:  [1180 2570  770 1960 1680 1715 1060 1780 1890 3560 1160 1370 1810 2950
 1600 1200 1250 1620 2270 1070 2450 1710 1400 1520 2320 1190 2330 1090
 2060 2300 2360 1220 2620 3595 1570 1280 3160  990 2290 3150 1410 1980
 2730 2830 2250 2420 3250 1850 1260 2519 1540 1660 2770 2720 2240 1000
 2750 2380 1760 1040 2350 1900 2020  960 2140 2660 1610 1030 3520 1580
 3300 2070 2920 2340 1670 1240 2030 2310 2080 3230 4380 1590  880 2400
 1450 2100 2910 2160 2010 2590 1170 1110 2820 2550 1430 1360  700 2640
 1270 3400 1910 1340 2680 1120 1970 1950 1350 2440 1050 3130 4090 1490
 1330 2230 1650 2180 1690 2150  860 1940 1010 1300  910 2480  900 1550
 1720  850 3900 1320 2760 1750 2220 1510 1480 2940 4410  830 2740  720
 1560 3360 1730 1420 1230 2460  760 1700 1080 2653 2390 2600 3830 3500
 2500 2900 1640 3280 2650 2040 2200 1920 1800 3320 2370 3650 4290 1470
  800 2050 2800 2490 2930 3040 2580 1390 1820 2110 2090 3450 4040 2130
 2510 2120 1530  940 1290 1930 2000 1860  950 2280 1440 2610 4870 3545
 1870 2260 3140  980  430 3840 4110 4190 3390  630 2990 4860  890 2810
 3180 1210 4030 2430 1100 4760 2530 1790  750 2870 1840 1830 3200 2560
 1805 1384 1460 3370 3590 3550 2540 1880 2690 3000 3740 1255 2630 4370
 3190 1500 2470 1380  820 2210 1130 2520 2156 2170 1150 3750 3950 3170
 2710 3610 1740 1630 3010  970 4000 2980  380 3460 3060 1020 1140 2190
 2970 3810 1654 2780 2790 4390 3680 2670 2208 3070  930  740 1422  920
  870 4250 4475 2840  730 3410 6070 2960 3030 3570 3710 4300 3990 1310
 1770 3120 3380 3660  790 3690 3732 3110 2963 2452 3100 3940 1981  640
 2495 2403 1990  660 3020 3340 2341 4210 3470 3260 1646  710 3504 4440
 3530 1782 2850 4830  680 3880 4570 3430 3540 3330  840 4130 2700 3620
 5620 3220 3362  620 4490 3790 3488  810 5040 3240 2410 3090 2005  670
 3350 1088 3630 3080 3960 3780 3440 1552 5110 4910 4120 2880 2303 3270
 6840 3640 4930 2195 2496 3050 3770 2153 3600 5740 3700  780 1714 7350
 2201 3480 3527 2835 3915 3290 3760 5020 5370  520 4070  600 3890  570
 3310 6110 3490 3596 4660  580 3670 1295 2305 5410 1553 1657 3001 4520
 5340 3860 3210  610 4140 4730 4430 3930 1159 5780 4220 1992 1122 3052
 1639 4180  590 3870 4610 2860 4340 2506 4080 2154 2890 1995 1689 3902
 2395 4280 3526 2483 4420 4580 5310 2019 1256  500 2605 5180 4050 1747
 1678 6810 1833 1414 4115 3597 4690 3420 3920 2641 2518 3910 3850 4270
 3695 4020 2803 2074 2038 4060 3580 4890 2329 1264 1095  690 1594 2844
  902 2876 3238 6390 4350 2811 2168 1445 6330 2095 5860 5990 4260 2344
 4970 4940 1175 4740 1516 4386 4500 4200 3510 1315 4010 2286 2927 6210
 4230 1811 2849 3730 2441 4800 2163 2795 4330 2415 4170 4560 1068 7100
 1509 1954 3820 9640  480 4460 5030 1752 5067 1129 2632 1996  560  410
 2031 1952 2434 3720 3316 1899 2331 2497 5720 1651 1961 3970 5770 5540
 2507 5844 2145 4480 5270 1982 1463 2783 1358 1864 1845 1465 2382 2979
 3674 4320 5000 3176 2672 2115 4850 3361 4400 3305 1078 1979  420  550
 1975 4590 1365 5840 4980 5490 1788 1092 4160 1322 1904 3366 2192 2253
 3980 2251  650  530 4285 4450 2008  540 2166 1352 2557 2257 1769 2093
 1677 4790 2588 5190 5350 6200 5550 5480 3800 5470 2473 2007 3002 2155
 2014 2665 4150  370 2105 3672 3004 2689 5170 4670 4680 1986 2678 2755
 2414 5930  901 2068 2807 2643 2181 4310 4510 1776 1435 4240 5810 3045
 2717 2905 4640 4620 1048 2375 1964 5150 4960 1785 1814  809 5120 6500
 1802  460 2692 2044 4820 5570 1212 3555 1502 5820 7710 3085 1615 4710
 1484 6630 1765 1453 1643 6490 1381 2732 1313 4360 4600 2793 2475 1936
  998 2575 3276 1584 2393 2029 4168 1072 4630 1984 5610  962 3931 2423
 2052 2538 5050 5330 2437 2789 2906 2242 2196 1847 2658 2655 4645 1233
 2223 1427 1611 2015 3444 2448 1489 4700 5305 1278 3202 1347 1481 2311
 2544 2584 2217 3569 1921 2612 3273 1494 2598 4650 3284 3266 1076 2594
 2718 1794 2481 5220 3845 1413 1876 3148 2413 1767 5060  982 2547 1834
 2514 2134 1741 2798 1852 5635 2099 3216 2891 2432 2283 2701 2245 1658
  893 2009 2744 3065 1861 2815 1571 1405 1601 3172 3223 1608 2229 3135
 4470 1408 2714 5790 1763 6260 1232 2502 2424 1296 1914  988 3056 2267
 1131 2796 1812 2233 1578 1084 2025 4750 1239 2568 1528 2628 2185 2478
 2669 1912 2828 2425 3206 2406 1626 2056 2456 5940 1934 3192  828 2529
 5520 4495 1987 3906 4073 2578 2738 3691 1061 3402 2542 1889 3753 3236
 1451 1983 2313 4100 1824 1909 2301 3274 1108 2864 2716 1572 1458 3281
 5430 2398 1867 1613 3217 2623  390  894 1606 2244 2026 2238 2517 2708
 2555 1495 5230 1522 1496 5090 2531 1333 2198 3087 3118 1425]

Here the detail:
 1400    128
1300    126
1660    122
1010    122
1440    121
       ...
2473      1
5470      1
2195      1
5480      1
1425      1
Name: sqft_living, Length: 880, dtype: int64



──────────
This feature  sqft_lot  has  7534  categories
 The single values are:  [ 5650  7242 10000 ...  5813  2388  1076]

Here the detail:
 5000     358
6000     290
4000     250
7200     220
4800     119
        ...
12244      1
1056       1
1989       1
7768       1
1076       1
Name: sqft_lot, Length: 7534, dtype: int64



──────────
This feature  floors  has  6  categories
 The single values are:  [1.  2.  1.5 3.  2.5 3.5]

Here the detail:
 1.0    9277
2.0    6951
1.5    1650
3.0     599
2.5     139
3.5       7
Name: floors, dtype: int64



──────────
This feature  view  has  5  categories
 The single values are:  [0 3 4 2 1]

Here the detail:
 0    17046
2      760
3      364
1      271
4      182
Name: view, dtype: int64



──────────
This feature  condition  has  5  categories
 The single values are:  [3 5 4 2 1]

Here the detail:
 3    12215
4     4745
5     1513
2      130
1       20
Name: condition, dtype: int64



──────────
This feature  grade  has  11  categories
 The single values are:  [ 7  6  8  9 10  5 11  4 12  3 13]

Here the detail:
 7     8236
8     5299
9     2044
6     1850
10     753
11     202
5      194
12      22
4       18
13       4
3        1
Name: grade, dtype: int64



──────────
This feature  sqft_above  has  798  categories
 The single values are:  [1180 2170  770 1050 1680 1715 1060 1890 1860  860 1370 1810 1980 1600
 1200 1250 2270 1070 2450 1710 1750 1400  790 2570 2320 1190 1510 1090
 1280 2360  890 2620 3595 1570  920 3160  990 2290 1640 1000 2130 2830
 2250 2420 3250 1850 1260 2519 1540 1110 1770 2720 2240 2380  880 1040
  910 2350 1900 1010  960 2660 1610  765 3520 1290 2390 1160 1270 1440
 2920 1460 1170 1240 2030 2310  700 1080 2520 2780 1590 1560 1450 1720
 2910 1620 1360 2070 1390 2140 1340 1550  940 1380 2370  980 1760 1030
 1780 3400 2680 1670 2590  820 1320 1220 2440 2090 1100 1330 1430 1420
 1690 1130 2150 1940  900 1630  850 1950 2760 1350 2020 1120 1480 1230
  830 1300 2740  720 2010 3360  800 1730 2460  760 1700  580 2653 2630
 3500 1740 1140 2160 2650  970 2040 2180 2220 3370 2690 3150 2050 2490
 1960 2580 1910 1820 3450 3230 3030 1580 2510 1410 2120 3300 1500 1530
 1930 2000  950 2280 2200 1920 1490 3470 3130 2610 1870 2260  430 3840
 3390  630 2990 3860 2810  870 3180 2770 1210 4030 2600 2400 1520 3040
 1970 3580 1790  750 2750 2870 1840 1830 3200 2550 1805 1384 2060 2110
 3590 2100 2540 1880 1660 1150 1470 1255 1800 4370 3190 2730 2470  670
 2340 2210 2156 1020 2940 2640 2710 3100 3610  840 2190  380 2480 3460
 3060 2560 1654 2790 1310 3350 2230 2430 3680 2670 2208  810  930  740
 1422  490 2080 4475  730 3410 3010  600 6070 2960 3570 4300 3990  780
 3020 2500 4190 2800 2530 1650 3690 2932 4250 3110 2963 2950 2452 2820
 2330 1981  640 2495 2403 2900  660 2341 4210 3260 3280 2980 1646  610
  710 3504 2840 3140 1782 2850  590 3720  680 3880 4570 3430 3540 2860
 3750 4130 3330 4700 3220 3362 3810  620 2410 3090 3488 1990 3420 1605
 1088 2300 3960 2700 1552 3850 3070 2303 3270 4350 3640 4160 2496 3770
 2153 3780 2890 1714 4750 2201 2970 3950 3527 3530 2835 3915 1427  520
 3440 3000 4070  570 3310 6110 3320 3490 1798 3560 3940 1105 2305 5050
 1553 4000 1657 3001  480 3740 3210 2930 3890 5370 3080 4140 4270 4430
 3550 1159 3290 3620 1288 1122 3052 3120 1479 4120 4610 4340 2506 2880
 2154 1995 1689 2782 2395 3526 3240 2483 4580 4180 3600 2019 1256  500
 1355 1747 1678 1833 1414 4115 3597 3830 3380 3920 2641 2518 3910 3340
 3710 3695 4020 2803 2074 2038 4060 4890 2329 1264 1095  690 4090 2844
  902 4560 2811 3700 2168 4900 2095 4050 4260 4440 3930 1175  998 2356
 4500 3510 1315 4410 4280 2286 2927 3650 4760 3480 1811 2849 3730 2441
 2163 2795 2415 1068 5240 3050 1509 1954 4820 1752 3630 3670 3154 1129
 2632 4380 1996  560  410 3790 2031 1652 2434 4080 3316 1899 2331 2497
 3170 4170 1341 1961 2507 5844 2145 4010  650 1982 1463 2783 1358 3870
 1864 1845 3660 2382 2979 3674 5000 2726  550 1295 2115 3361 2245 1078
 1329  420 1975 3800 3820 1788 1092 1087 1904 2966 2192 2253 3980  530
 4285 1216  540 2166 1352 2557 1363 1769 2093 1677 2588 5190 5020 5550
 4110 2473  995 2007 3002 4230 2155 2014 4980 2665 3900 4150  370 2105
 3006 3004 2689 4670 1746 2678 2755 2414  901 2068 2807 2643 2181 4510
 1604 1435 4240 3045 2717 2905 5110 3485 1048 2375 1964 1595  944 4040
  809 5040 4490 5180 1802  460 2692 1544 2044 1212 3555 1502 6090 3970
 1615 1484 4930 1765 1453 1643 1381 1313 4360 2793 2475 1936  798 2575
 3276 1584 2393 2029 3222 1072 1785 1984  962 2423 2052 2538 2437 2789
 2906 4590 4800 2242 2196 1847 2658 2655 3855  963 2223 1611 2015 2714
 2448 1489 1116 3745 1002 3202 1347 1481 2311 2544 2584 2217 3569 1921
 2612 2671 1494 2598 4220 3284 3266 1076 2594 2718 1794 2481 3845 1413
 1876 3148 2413 1767 5060  806 2547 1834 2024 1165 2134 1741 2798 1852
 2099 3216 1094 2891 2432 2283 2701 1658  893 2009 2744 3065 1578 2815
 1571 4640 1536 3172 3223 1608 2229 3135 1408 1763 4840 1232 2502 2424
 4390 1296 1914  988 3056 2267 1131 2796 1812 2233 1084 2025 1239 2568
 1528 2628 2185 2478 2669 1912 2828 2425 1446 3206 2406 1419 2056 1144
 2456 4950 1934 3192  828 2529 1987 3906 4073 2578 2738 3691 1061 2846
 2542 1889 3336 3236 1451 1983 2313 4100 1824 1322 1766 2301 3274 1108
 2864 2716 1572 3281 2398 1867 1613 2587 2623  390  894 1606 2244 2026
 2238 2517 2708 2555 1405 4450 1248 2531 1333 2198 3087 3118 4470 1425]

Here the detail:
 1010    197
1300    192
1200    190
1140    169
1220    169
       ...
1605      1
2665      1
4980      1
2014      1
1425      1
Name: sqft_above, Length: 798, dtype: int64



──────────
This feature  sqft_basement  has  261  categories
 The single values are:  [   0  400  910  730 1700  300  970  760  700  820  780  790  330  360
 1510  410  990  600  550 1000  500  880 1010  240  265  290  800  540
  560  380  710 1600  840  770  480  570  620 1250 1270  120  650  180
  450 1020 1030  750  640 1070  490  630 2000  390  430  850  210 1950
  440  220 1160  860 2060 1180  200 1150 1200  680  530 1450 1170 1080
  960 1100  280  870  460 1400  720  660 1220  900  420  690  270  580
  350  935 1040 1370  980 1130  160  950   50  740  340  470  370  140
 1760  130  610  520  890 1110  150 1720  810  190 1290  670 1120 1810
 1460 1380   60 1050  940  310  930 1390  510 1330 1590 1620  920 1320
 1420 1240 1960 1560 1190 1490 1280  250 1300 1230  170  830 2020 1260
 1340  590 1140  260 1580  100 1800  320 1480 1060 1670 1350 1090  110
 1410   90 1550 2350 2490 1360 1135 1470 1830 1660 2130 2600 1850  243
 1210 1520 1780 1798 1610 1440 1690 1500 1570 1650  704 1910 1310  230
   70 1430 1680 2100 1870 1530 1710 1640 1820 1540  506  906  145 2170
 1940  784 1750  518 2030 1790 2330 1860 4820 1913   80 2010  415 1730
  652 1930  515   40 1900 2580 1740 1630  235  861 2220  792 2070 2090
 2240  894 1990  435 2610  666  172 1525 1840 2550  862  946 1281  414
 2180  276  602  516  176  225 1275  266  283   65   10 1770  295  207
 2040  915  556  417  143  508   20  274  248]

Here the detail:
 0       11217
700       202
500       198
600       194
800       183
        ...
792         1
2090        1
2240        1
894         1
248         1
Name: sqft_basement, Length: 261, dtype: int64



──────────
This feature  yr_built  has  116  categories
 The single values are:  [1955 1951 1933 1965 1987 1995 1963 1960 2003 1942 1977 1900 1979 1994
 1916 1921 1969 1947 1985 1941 1915 1909 1948 2005 1929 1981 1930 1904
 1996 2000 2014 1922 1959 1966 1953 1950 1927 2008 1968 1991 1954 1973
 1925 1989 1972 1956 1992 1964 1952 1961 2006 1988 2001 1962 1939 1946
 1975 1910 1978 1984 1905 1980 1971 2010 1945 1924 1990 1914 1967 1926
 2004 1986 1923 1976 1949 1999 1901 1993 1920 2007 1943 1983 1940 1918
 1928 1974 1911 1936 1937 1908 1931 1957 1998 1913 1997 2013 2002 1907
 1958 2012 1912 2011 1917 1944 1902 2009 1903 1970 1982 2015 1938 1919
 1932 1906 1935 1934]

Here the detail:
 2014    541
2006    426
2005    414
2004    398
2003    393
       ...
1932     28
1902     27
1933     21
1935     17
1934     14
Name: yr_built, Length: 116, dtype: int64



──────────
This feature  yr_renovated  has  69  categories
 The single values are:  [   0 1991 2002 2010 1999 1992 2013 1994 1978 2005 2003 1984 2014 2011
 1983 1945 1990 1988 1995 2000 1977 1998 2004 1986 2009 2007 1987 1973
 2006 2001 1980 1971 1979 1997 1950 1969 1948 1970 2015 1974 2008 1968
 1989 2012 1963 1951 1993 1962 1996 1972 1953 1955 1982 1985 1956 1940
 1976 1946 1975 1958 1964 1957 1959 1960 1967 1965 1934 1981 1944]

Here the detail:
 0       17894
2014       86
2013       33
2005       29
2003       29
        ...
1959        1
1951        1
1948        1
1934        1
1944        1
Name: yr_renovated, Length: 69, dtype: int64



──────────
This feature  zipcode  has  70  categories
 The single values are:  [98178 98125 98028 98136 98074 98003 98198 98146 98038 98007 98115 98107
 98126 98019 98103 98002 98133 98092 98030 98119 98112 98052 98027 98117
 98058 98001 98056 98053 98023 98148 98105 98042 98008 98059 98166 98122
 98144 98004 98034 98116 98118 98199 98040 98102 98108 98168 98177 98065
 98029 98006 98109 98022 98075 98033 98155 98031 98024 98106 98032 98045
 98070 98072 98188 98005 98077 98055 98011 98014 98010 98039]

Here the detail:
 98103    602
98115    579
98117    552
98052    518
98034    515
        ...
98077     34
98014     32
98024     22
98070     17
98039     17
Name: zipcode, Length: 70, dtype: int64



──────────
This feature  lat  has  4776  categories
 The single values are:  [47.5112 47.721  47.7379 ... 47.3906 47.3339 47.6502]

Here the detail:
 47.5322    17
47.6846    16
47.6904    15
47.6711    15
47.6860    15
           ..
47.2798     1
47.7594     1
47.3398     1
47.7468     1
47.6502     1
Name: lat, Length: 4776, dtype: int64



──────────
This feature  long  has  612  categories
 The single values are:  [-122.257 -122.319 -122.233 -122.393 -122.045 -122.327 -122.315 -122.337
 -122.031 -122.145 -122.292 -122.394 -122.375 -121.962 -122.343 -122.21
 -122.306 -122.341 -122.169 -122.166 -122.172 -122.218 -122.36  -122.314
 -122.304 -122.11  -122.07  -122.357 -122.368 -122.157 -122.31  -122.362
 -122.282 -122.18  -122.027 -122.016 -122.364 -122.175 -121.977 -122.371
 -122.151 -122.301 -122.322 -122.189 -122.384 -122.369 -122.281 -122.29
 -122.114 -122.122 -122.116 -122.149 -122.335 -122.344 -122.32  -122.297
 -122.192 -122.179 -122.287 -122.036 -122.125 -122.34  -122.008 -122.291
 -122.365 -122.199 -122.194 -122.387 -122.372 -122.391 -122.351 -122.386
 -122.249 -122.378 -122.196 -122.133 -122.38  -122.109 -122.053 -122.349
 -122.295 -122.253 -122.347 -122.248 -122.303 -122.294 -122.226 -122.266
 -122.098 -122.212 -122.244 -122.39  -122.352 -121.85  -122.152 -122.054
 -121.998 -122.299 -122.381 -122.358 -122.128 -122.171 -122.174 -122.353
 -122.336 -122.359 -122.3   -122.176 -121.996 -122.118 -122.193 -122.023
 -122.224 -122.168 -122.231 -122.331 -122.374 -122.339 -122.308 -122.307
 -121.999 -122.376 -122.2   -122.039 -122.102 -122.188 -122.379 -122.043
 -122.153 -122.191 -122.184 -122.219 -122.312 -122.165 -122.37  -122.158
 -122.047 -122.284 -122.017 -122.268 -122.367 -122.026 -122.217 -122.373
 -122.013 -122.214 -122.034 -121.899 -122.324 -122.216 -122.395 -122.213
 -122.345 -122.278 -122.111 -122.27  -122.178 -122.147 -121.772 -122.302
 -122.438 -122.323 -122.255 -122.4   -122.206 -122.272 -122.025 -122.23
 -122.144 -122.143 -122.223 -122.181 -122.154 -122.311 -122.274 -122.
 -122.298 -122.058 -122.333 -122.252 -122.275 -122.012 -122.052 -122.164
 -122.354 -121.875 -122.24  -122.173 -122.222 -122.28  -122.137 -122.141
 -122.029 -122.182 -122.19  -121.97  -122.329 -122.06  -121.959 -122.095
 -122.146 -122.35  -122.241 -122.289 -122.305 -122.385 -122.032 -122.402
 -122.227 -121.982 -122.161 -122.046 -122.156 -122.33  -122.197 -122.041
 -122.103 -122.318 -122.382 -122.271 -122.082 -122.078 -122.211 -122.262
 -122.221 -122.234 -122.089 -122.123 -122.167 -121.909 -122.107 -122.042
 -122.064 -122.066 -122.062 -122.264 -122.186 -122.087 -122.215 -121.88
 -121.864 -122.205 -122.363 -122.139 -122.285 -122.177 -122.056 -122.316
 -122.021 -122.16  -122.411 -122.198 -122.256 -122.097 -122.075 -122.259
 -122.015 -122.229 -121.86  -122.409 -122.251 -122.317 -121.776 -122.018
 -122.283 -122.084 -122.001 -122.024 -122.309 -122.113 -121.771 -122.239
 -122.273 -122.396 -122.267 -122.326 -122.13  -122.269 -122.261 -121.853
 -122.05  -122.346 -121.826 -122.124 -122.159 -122.286 -122.202 -121.785
 -121.872 -122.004 -122.321 -121.882 -122.101 -122.185 -122.195 -122.183
 -122.22  -122.131 -122.162 -122.225 -121.759 -121.965 -122.201 -122.366
 -122.073 -122.313 -122.405 -122.02  -122.279 -122.355 -122.08  -122.15
 -122.356 -122.115 -122.044 -122.134 -121.867 -122.01  -122.121 -122.011
 -121.983 -122.348 -122.127 -122.033 -122.276 -122.361 -122.325 -122.203
 -122.136 -122.209 -122.049 -122.005 -122.288 -122.106 -122.076 -122.037
 -122.207 -122.1   -122.263 -122.204 -121.787 -122.119 -121.976 -122.377
 -122.383 -121.989 -122.019 -122.208 -121.878 -122.328 -122.03  -122.057
 -122.338 -122.388 -122.265 -122.332 -122.399 -122.397 -122.25  -122.014
 -122.028 -122.293 -122.12  -122.035 -122.14  -121.974 -122.296 -122.112
 -122.258 -122.022 -122.17  -122.238 -121.908 -122.086 -122.389 -121.972
 -122.163 -121.854 -122.392 -122.236 -122.117 -121.981 -122.342 -122.129
 -121.978 -121.993 -122.246 -122.41  -121.879 -122.187 -122.077 -121.98
 -122.002 -122.138 -122.132 -122.235 -122.126 -121.782 -122.072 -122.108
 -121.995 -122.401 -121.858 -121.888 -122.148 -122.26  -122.277 -121.78
 -122.403 -122.243 -121.973 -122.228 -122.055 -122.398 -121.912 -122.059
 -121.903 -121.997 -121.958 -122.232 -122.412 -122.104 -122.007 -122.155
 -121.833 -121.778 -121.99  -122.242 -121.926 -122.079 -122.051 -122.071
 -121.986 -122.245 -121.861 -122.083 -122.099 -122.094 -121.898 -122.142
 -122.074 -122.247 -121.827 -121.966 -121.979 -121.871 -122.09  -122.006
 -121.992 -122.406 -121.359 -121.789 -122.404 -122.334 -121.799 -121.774
 -121.985 -121.865 -122.415 -122.093 -121.809 -122.135 -122.092 -122.038
 -121.877 -121.968 -122.063 -121.315 -121.902 -122.414 -121.744 -122.061
 -121.881 -121.745 -122.068 -121.646 -121.93  -122.085 -121.777 -121.957
 -121.823 -121.887 -122.408 -122.462 -122.43  -122.456 -121.987 -121.916

KeyError: 'sqft_living_log'

we are going for: bathrooms and floors

In [32]:
df3["bathrooms"].unique()

array([1.  , 2.25, 3.  , 2.  , 1.5 , 2.5 , 1.75, 2.75, 3.25, 3.5 , 0.75,
       4.25, 3.75, 4.  , 1.25, 4.5 , 5.  , 0.5 , 5.25, 4.75, 6.  , 6.75,
       7.5 , 5.5 , 5.75, 6.5 ])

In [33]:
# Create the mapping dictionary
bucket_map = {1.: 1, 2.25: 2, 3.: 3, 2.: 2, 1.5: 1, 2.5: 2, 1.75: 2, 2.75: 3, 3.25: 3, 3.5: 3, 0.75: 1, 4.25: 4, 3.75: 4, 4.: 4, 1.25: 1, 4.5: 4, 5.: 5, 0.5: 0, 5.25: 5, 4.75: 5, 6.: 6, 6.75: 7, 7.5: 7, 5.5: 5, 5.75: 6, 6.5: 6}

# Apply the mapping to the "bathrooms" column and store the result in a new column "bucket_bathrooms"
df3['bucket_bathrooms'] = [bucket_map[value] for value in df['bathrooms']]
df3['bucket_bathrooms'].isna().sum()

0

In [34]:
df3['bucket_bathrooms'].unique()

array([1, 2, 3, 4, 5, 0, 6, 7], dtype=int64)

In [35]:
# Create the mapping dictionary
floor_map = {1.0: 1, 2.0: 2, 1.5: 1, 3.0: 3, 2.5: 2, 3.5: 3}

# Apply the mapping to the "floors" column and store the result in a new column "bucket_floors"
df3['bucket_floors'] = [floor_map[value] for value in df['floors']]
df3['bucket_floors'].isna().sum()

0

In [36]:
df3['bucket_floors'].unique()

array([1, 2, 3], dtype=int64)

In [42]:
df3 = df3.drop(columns = ["bathrooms", "floors"], axis = 1)

In [43]:
df3.head()

,bedrooms,sqft_living,sqft_lot,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,day_bought,month_bought,yr_diff_renovated,yr_diff_bought,sqrt_diff,sqrt_diff_15,sqft_living_log,sqft_above_log,sqft_living15_log,0,1,2014,2015,0.1,1.1,0.2,1.2,0.3,1.3,bucket_bathrooms,bucket_floors
0,3,1180,5650,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900,13,10,0,59,4470,4310,7.073270,7.073270,7.200425,1,0,1,0,1,0,1,0,0,1,1,1
1,3,2570,7242,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000,9,12,40,63,4672,5949,7.851661,7.682482,7.432484,1,0,1,0,0,1,0,1,0,1,2,2
2,2,770,10000,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000,25,2,0,82,9230,5342,6.646391,6.646391,7.908387,1,0,0,1,1,0,1,0,1,0,1,1
3,4,1960,5000,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000,9,12,0,49,3040,3640,7.580700,6.956545,7.215240,1,0,1,0,1,0,0,1,0,1,3,1
4,3,1680,8080,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000,18,2,0,28,6400,5703,7.426549,7.426549,7.495542,1,0,0,1,1,0,1,0,1,0,2,1

In [44]:
df3.to_csv('df2_fea_eng_log_enc_bucket.csv', index=False) # this is the point where we will start the following tries

In [45]:
X_num = df3.drop( columns = ["price"], axis = 1)
transformer = MinMaxScaler().fit(X_num)
X_num_minmax = transformer.transform(X_num)
X_num_norm = pd.DataFrame(X_num_minmax,columns=X_num.columns)
X_num_normalized = X_num_norm.copy()
X_num_normalized.shape

(18623, 36)

In [46]:
X = X_num_normalized.copy()
Y = df3["price"]
#Separation between train and test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42) 
#Train model
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [47]:
predictions, y_test, r2 = modeling(Y, X, models=[LinearRegression(), KNeighborsRegressor(n_neighbors=9), DecisionTreeRegressor(max_depth=10),RandomForestRegressor(n_estimators=100, max_depth=10)], test_size=0.24)

LinearRegression() metrics are:
R2 = 0.7349434779778048
R2 adjusted = 0.7375155690671634
RMSE = 152414.75
MSE = 23230256631.42
MAE = 103081.63
KNeighborsRegressor(n_neighbors=9) metrics are:
R2 = 0.7321510675437917
R2 adjusted = 0.7674642035730816
RMSE = 153215.5
MSE = 23474990888.51
MAE = 90856.84
DecisionTreeRegressor(max_depth=10) metrics are:
R2 = 0.8084525337200795
R2 adjusted = 0.8919767414086341
RMSE = 129567.47
MSE = 16787728009.23
MAE = 77350.89
RandomForestRegressor(max_depth=10) metrics are:
R2 = 0.8723816729118441
R2 adjusted = 0.9176753370536769
RMSE = 105758.26
MSE = 11184808683.49
MAE = 64922.25